/* -------------------------------------------- *\
 * STYLES GUID
\* -------------------------------------------- */

:root {
    /**
     * Colors
     */
    --scrim: #00000075;
    --success: #1ec863;
    --on-success: #000000;
    --soft-success: #1ec86335;
    --warning: #f6a723;
    --on-warning: #000000;
    --soft-warning: #f6a72335;
    --info: #2f80ed;
    --on-info: #ffffff;
    --soft-info: #2f80ed35;
    --error: #ed4956;
    --on-error: #ffffff;
    --soft-error: #ed495635;
    
    /* Primary */
    --linear-gradient: linear-gradient(90deg, #65BDA1 0%, #30BAD3 100%);
    --on-linear-gradient: #ffffff;
    --primary: #65BDA1;
    --on-primary: #ffffff;
    --soft-primary: #00d4d925;
    --secondary: #30BAD3;
    --on-secondary: #ffffff;
    --soft-secondary: #30BAD325;
    --box-color-1: #00B8DB0A;
    --box-color-2: #155DFC0D;
    --box-color-3: #9810FA0D;
    --soft-white-background: #ffffff10;
    --soft-white-outline: #ffffff1f;

    /* NEUTRAL */
    --background-header: #00000033;
    --background: #021115;
    --surface: #10182880;
    --surface-variant: #0b1e25;
    --surface-hight: #1E2939;
    --on-background: #f3f4f6;
    --on-background-variant: #99a1af;
    --outline: #1E2939;
    --outline-variant: #364153;

    /**
     * Typography
     */

    /* Font Family */
    --font-family: "Montserrat", sans-serif;

    /* Font size */
    --fs-base: 10px;
    --fs-display-large: 58px;
    --fs-display-medium: 48px;
    --fs-display-small: 3.6rem;
    --fs-headline-large: 3.2rem;
    --fs-headline-medium: 2.8rem;
    --fs-headline-small: 2.4rem;
    --fs-title-large: 2.2rem;
    --fs-title-medium: 1.8rem;
    --fs-title-small: 1.4rem;
    --fs-body-large: 1.6rem;
    --fs-body-medium: 1.4rem;
    --fs-body-small: 1.2rem;
    --fs-label-large: 1.4rem;
    --fs-label-medium: 1.2rem;
    --fs-label-small: 1.1rem;

    /* Font weight */
    --fw-regular: 400;
    --fw-medium: 400;
    --fw-large: 700;

    /* Line height */
    --lh-base: 1.6;
    --lh-display-large: 87px;
    --lh-display-medium: 58px;
    --lh-display-small: 4.4rem;
    --lh-headline-large: 4.0rem;
    --lh-headline-medium: 3.6rem;
    --lh-headline-small: 3.2rem;
    --lh-title-large: 2.8rem;
    --lh-title-medium: 2.8rem;
    --lh-title-small: 2.0rem;
    --lh-body-large: 2.4rem;
    --lh-body-medium: 2.0rem;
    --lh-body-small: 1.8rem;
    --lh-label-large: 2.0rem;
    --lh-label-medium: 1.8rem;
    --lh-label-small: 1.6rem;

    /* Letter spacing */
    --ls-n-025: -0.25px;
    --ls-p-010: 0.10px;
    --ls-p-015: 0.15px;
    --ls-p-025: 0.25px;
    --ls-p-040: 0.40px;
    --ls-p-050: 0.50px;

    /**
     * Spacing
     */
    --spacing-base: 4px;
    --spacing-05: calc(var(--spacing-base) * 0.5);
    --spacing-1: calc(var(--spacing-base) * 1); 
    --spacing-2: calc(var(--spacing-base) * 2); 
    --spacing-3: calc(var(--spacing-base) * 3);
    --spacing-4: calc(var(--spacing-base) * 4);
    --spacing-5: calc(var(--spacing-base) * 5);
    --spacing-6: calc(var(--spacing-base) * 6);
    --spacing-7: calc(var(--spacing-base) * 7);
    --spacing-8: calc(var(--spacing-base) * 8);
    --spacing-9: calc(var(--spacing-base) * 9);
    --spacing-10: calc(var(--spacing-base) * 10);
    --spacing-11: calc(var(--spacing-base) * 11);
    --spacing-12: calc(var(--spacing-base) * 12);
    --spacing-13: calc(var(--spacing-base) * 13);
    --spacing-14: calc(var(--spacing-base) * 14);
    --spacing-15: calc(var(--spacing-base) * 15);
    --spacing-16: calc(var(--spacing-base) * 16);
    --spacing-17: calc(var(--spacing-base) * 17);
    --spacing-18: calc(var(--spacing-base) * 18);
    --spacing-19: calc(var(--spacing-base) * 19);
    --spacing-20: calc(var(--spacing-base) * 20);
    --spacing-21: calc(var(--spacing-base) * 21);
    --spacing-22: calc(var(--spacing-base) * 22);
    --spacing-23: calc(var(--spacing-base) * 23);
    --spacing-24: calc(var(--spacing-base) * 24);
    --spacing-25: calc(var(--spacing-base) * 25);
    --spacing-26: calc(var(--spacing-base) * 26);
    --spacing-27: calc(var(--spacing-base) * 27);
    --spacing-28: calc(var(--spacing-base) * 28);
    --spacing-29: calc(var(--spacing-base) * 29);
    --spacing-30: calc(var(--spacing-base) * 30);

    /**
     * Box shadow
     */
    --shadow-05: 0px 1px 2px 1px #00000010, 0px 1px 1px 0px #00000015;
    --shadow-1: 0px 1px 3px 1px #00000026, 0px 1px 2px 0px #0000004d;
    --shadow-2: 0px 2px 6px 2px #00000026, 0px 1px 2px 0px #0000004d;
    --shadow-3: 0px 1px 3px 0px #0000004d, 0px 4px 8px 3px #00000026;
    --shadow-4: 0px 2px 3px 0px #0000004d, 0px 6px 10px 4px #00000026;
    --shadow-5: 0px 4px 4px 0px #0000004d, 0px 8px 12px 6px #00000026;
    --shadow-6: 0px 4px 5px 0px #0000004d, 0px 10px 15px 6px #00000026;
    --shadow-7: 0px 5px 5px 0px #0000004d, 0px 10px 18px 7px #00000026;
    --shadow-8: 0px 5px 6px 0px #0000004d, 0px 12px 20px 8px #00000026;
    --shadow-9: 0px 6px 6px 0px #0000004d, 0px 14px 22px 8px #00000026;
    --shadow-10: 0px 6px 7px 0px #0000004d, 0px 16px 24px 9px #00000026;
    --shadow-11: 0px 7px 8px 0px #0000004d, 0px 17px 26px 9px #00000026;
    --shadow-12: 0px 7px 8px 0px #0000004d, 0px 18px 28px 10px #00000026;
    --shadow-13: 0px 7px 9px 0px #0000004d, 0px 19px 29px 10px #00000026;
    --shadow-14: 0px 8px 9px 0px #0000004d, 0px 20px 31px 11px #00000026;
    --shadow-15: 0px 8px 10px 0px #0000004d, 0px 21px 33px 11px #00000026;
    --shadow-16: 0px 8px 11px 0px #0000004d, 0px 22px 35px 12px #00000026;
    --shadow-17: 0px 9px 11px 0px #0000004d, 0px 23px 36px 12px #00000026;
    --shadow-18: 0px 9px 12px 0px #0000004d, 0px 24px 38px 13px #00000026;
    --shadow-19: 0px 10px 13px 0px #0000004d, 0px 25px 40px 14px #00000026;
    --shadow-20: 0px 10px 14px 0px #0000004d, 0px 26px 42px 15px #00000026;

    /**
     * Border radius
     */
    --radius-extra-small: 4px;
    --radius-small: 8px;
    --radius-medium: 12px;
    --radius-large: 16px;
    --radius-extra-large: 24px;
    --radius-circle: 50%;
    --radius-full: 1000px;

    /**
     * Transition
     */
    --tr-duration-short: 200ms;
    --tr-duration-medium: 400ms;
    --tr-duration-long: 600ms;

    /**
     * Others
     */
    --width-extra-small: 32px;
    --width-small: 40px;
    --width-medium: 48px;
    --width-large: 56px;
    --width-extra-large: 65px;
    --height-extra-small: 32px;
    --height-small: 40px;
    --height-medium: 48px;
    --height-large: 56px;
    --height-extra-large: 65px;

    --header-height: 100px;
}

/* -------------------------------------------- *\
 * RESET
\* -------------------------------------------- */

*,
*::before,
*::after {
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul,
ol,
li,
menu {
    padding: 0 !important;
    margin: 0 !important;
}

li { list-style: none; }

a,
img,
span,
label,
input,
button,
select,
textarea { display: inline-block; }

a {
    color: inherit;
    font: inherit;
    text-decoration: none;
}

img { height: auto; }

label,
input[type="radio"],
input[type="checkbox"],
select,
button { cursor: pointer; }

input,
select,
button,
textarea {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
}

input,
select,
textarea {
    outline: none;
    width: 100%;
}

label,
input,
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

textarea { resize: none; }

[id] { scroll-margin-start: calc(var(--header-height) + var(--spacing-4)); }

[hidden] { display: none; }

[disabled],
:disabled {
    pointer-events: none;
    opaicty: 0.7;
}

/* -------------------------------------------- *\
 * BASE
\* -------------------------------------------- */

:where(input, textarea)::placeholder {
    color: var(--on-background-variant);
    text-align: start;
}

html {
    scroll-behavior: smooth;
    font-family: var(--font-family);
    font-size: var(--fs-base);
    font-weight: normal;
    line-height: var(--lh-base);
}

body {
    background-color: var(--background);
    color: var(--on-background);
    font-size: var(--fs-body-medium);
    font-weight: var(--fw-regular);
    line-height: var(--lh-body-medium);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0 !important;
    margin: 0 !important;
}

::selection {
    background-color: var(--primary);
    color: var(--on-primary);
}

/* -------------------------------------------- *\
 * REUSED STYLE
\* -------------------------------------------- */

.section {
    padding-block: 100px;
    position: relative;
}

.section .box-1 {
    top: 50px;
    left: 10%;
}

.section .box-2 {
    top: 120px;
    right: 5%;
}

.section .box-3 {
    top: 319.6px;
    left: 50%;
    transform: translateX(-50%);
}

.container {
    padding-inline: var(--spacing-4);
    margin-inline: auto;
    max-width: 100%;
    width: 100%;
}

.container.container-xs { max-width: 568px; }

.container.container-sm { max-width: 768px; }

.container.container-md { max-width: 992px; }

.container.container-lg { max-width: 1240px; }

.container.container-xl { max-width: 1440px; }

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-contain {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.title-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: var(--spacing-4);
    margin-block-end: 60px;
}

.title-sec p { max-width: 400px; }

.title-sec .nav-tabs { margin-block-start: var(--spacing-4) !important; }

.main {
    padding-block-start: var(--header-height);
    min-height: 100dvh;
}

:has(> .state-layer) {
    position: relative;
    overflow: hidden;
    isolation: isolate;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.state-layer {
    background-color: var(--state-layer-bg);
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    transition: opacity var(--tr-duration-short);
}

:has(> .state-layer):hover > .state-layer { opacity: 0.08; }

:has(> .state-layer):active > .state-layer { opacity: 0.16; }

.custom-scrollbar-hidden::-webkit-scrollbar { display: none; }

.custom-scrollbar::-webkit-scrollbar {
    width: var(--spacing-2);
    height: var(--spacing-2);
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: inherit;
    border-radius: var(--radius-full);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: var(--radius-full);
}

.offcanvas-backdrop {
    opacity: 0 !important;
    background-color: var(--scrim) !important;
    transition: opacity var(--tr-duration-short);
}

.offcanvas-backdrop.show { opacity: 1 !important; }

.wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--spacing-4);
}

.wrapper-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--spacing-2);
}

.wrapper-between {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-4);
}

.wrapper-block {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
}

.wrapper-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-1);
}

.desctop { display: none !important; }

.hover {
    transition-duration: var(--tr-duration-short);
    transition-property: color, background;
}

.hover:hover {
    background: var(--linear-gradient);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent !important;
}

.w-full {
    width: 100% !important;
    max-width: 100% !important;
}

.p-start-0,
.p-end-0 { gap: 0 !important; }

.p-start-0 { padding-inline-start: 0 !important; }

.p-end-0 { padding-inline-end: 0 !important; }

span,
.text-warning,
.text-on-warning,
.text-info,
.text-on-info,
.text-error ,
.text-on-error,
.text-linear-gradient,
.text-on-linear-gradient,
.text-primary,
.text-on-primary,
.text-secondary,
.text-on-secondary,
.text-on-background,
.text-on-background-variant,
.arrow-dir {
    max-width: max-content;
    max-height: max-content;
}

html[dir="rtl"] .arrow-dir { transform: rotateY(180deg); }

.flex {
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
}

.icon-big,
.icon-big svg {
    min-width: var(--spacing-10);
    max-width: var(--spacing-10);
    min-height: var(--spacing-10);
    max-height: var(--spacing-10);
}

.box-1,
.box-2,
.box-3 {
    position: absolute;
    z-index: -1;
    width: 384px;
    height: 384px;
    border-radius: var(--radius-full);
    filter: blur(30px);
}

.box-1 { background-color: var(--box-color-1); }

.box-2 { background-color: var(--box-color-2); }

.box-3 { background-color: var(--box-color-3); }


.grid-2-base,
.grid-3-base,
.grid-4-base,
.grid-6-base {
    display: grid;
    gap: var(--spacing-6);
}

.grid-6-base { grid-template-columns: repeat(2, 1fr); }

.swipper-container { position: relative; }

.swipper-container .icon-btn[data-swipper-next],
.swipper-container .icon-btn[data-swipper-prev] {
    background-color: #1E3039 !important;
    color: var(--on-background);
    border: none;
    border-radius: var(--radius-full);
    position: absolute;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
}

.swipper-container .icon-btn[data-swipper-next]:hover,
.swipper-container .icon-btn[data-swipper-prev]:hover { background: var(--linear-gradient); }

.swipper-container .icon-btn[data-swipper-next] { right: 0; }

html[dir="rtl"] .swipper-container .icon-btn[data-swipper-next] {
    left: 0;
    right: auto;
}

.swipper-container .icon-btn[data-swipper-prev] { left: 0; }

html[dir="rtl"] .swipper-container .icon-btn[data-swipper-prev] {
    right: 0;
    left: auto;
}

.swipper-container .swipper-2-base,
.swipper-container .swipper-3-base {
    display: grid;
    grid-auto-columns: 100%;
    grid-auto-flow: column;
    gap: var(--spacing-6);
    scroll-snap-type: inline mandatory;
    scroll-snap-stop: always;
    overflow-x: auto;
}

.swipper-container .swipper-2-base::-webkit-scrollbar,
.swipper-container .swipper-3-base::-webkit-scrollbar { display: none; }

.swipper-container .swipper-2-base .swipper-item,
.swipper-container .swipper-3-base .swipper-item {
    width: 100%;
    scroll-snap-align: start;
}

/* -------------------------------------------- *\
 * TYPOGRAPH
\* -------------------------------------------- */

.text-display-large {
    font-size: var(--fs-display-large);
    font-weight: var(--fw-large);
    line-height: var(--lh-display-large);
    letter-spacing: var(--ls-n-025);
}

.text-display-medium {
    font-size: var(--fs-display-medium);
    font-weight: var(--fw-large);
    line-height: var(--lh-display-medium);
}

.text-display-small {
    font-size: var(--fs-display-small);
    font-weight: var(--fw-large);
    line-height: var(--lh-display-small);
}

.text-headline-large {
    font-size: var(--fs-headline-large);
    font-weight: var(--fw-medium);
    line-height: var(--lh-headline-large);
}

.text-headline-medium {
    font-size: var(--fs-headline-medium);
    font-weight: var(--fw-medium);
    line-height: var(--lh-headline-medium);
}

.text-headline-small {
    font-size: var(--fs-headline-small);
    font-weight: var(--fw-medium);
    line-height: var(--lh-headline-small);
}

.text-title-large {
    font-size: var(--fs-title-large);
    font-weight: var(--fw-medium);
    line-height: var(--lh-title-large);
}

.text-title-medium {
    font-size: var(--fs-title-medium);
    font-weight: var(--fw-medium);
    line-height: var(--lh-title-medium);
    letter-spacing: var(--ls-p-015);
}

.text-title-small {
    font-size: var(--fs-title-small);
    font-weight: var(--fw-medium);
    line-height: var(--lh-title-small);
    letter-spacing: var(--ls-p-010);
}

.text-body-large {
    font-size: var(--fs-body-large);
    font-weight: var(--fw-regular);
    line-height: var(--lh-body-large);
    letter-spacing: var(--ls-p-025);
}

.text-body-medium {
    font-size: var(--fs-body-medium);
    font-weight: var(--fw-regular);
    line-height: var(--lh-body-medium);
    letter-spacing: var(--ls-p-025);
}

.text-body-small {
    font-size: var(--fs-body-small);
    font-weight: var(--fw-regular);
    line-height: var(--lh-body-small);
    letter-spacing: var(--ls-p-040);
}

.text-label-large {
    font-size: var(--fs-label-large);
    font-weight: var(--fw-regular);
    line-height: var(--lh-label-large);
    letter-spacing: var(--ls-p-010);
}

.text-label-medium {
    font-size: var(--fs-label-medium);
    font-weight: var(--fw-medium);
    line-height: var(--lh-label-medium);
    letter-spacing: var(--ls-p-050);
}

.text-label-small {
    font-size: var(--fs-label-small);
    font-weight: var(--fw-medium);
    line-height: var(--lh-label-small);
    letter-spacing: var(--ls-p-050);
}

/* -------------------------------------------- *\
 * TEXT ON COLOR
\* -------------------------------------------- */

.text-warning { color: var(--warning) !important; }

.text-on-warning { color: var(--on-warning) !important; }

.text-info { color: var(--info) !important; }

.text-on-info { color: var(--on-info) !important; }

.text-error { color: var(--error) !important; }

.text-on-error { color: var(--on-error) !important; }

.text-linear-gradient {
    background: var(--linear-gradient);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
}

.text-on-linear-gradient { color: var(--on-linear-gradient) !important; }

.text-primary { color: var(--primary) !important; }

.text-on-primary { color: var(--on-primary) !important; }

.text-secondary { color: var(--secondary) !important; }

.text-on-secondary { color: var(--on-secondary) !important; }

.text-on-background { color: var(--on-background) !important; }

.text-on-background-variant { color: var(--on-background-variant) !important; }

/* -------------------------------------------- *\
 * COMPONENETS
\* -------------------------------------------- */

/**
 * Logo
 */
.logo.medium .img-logo {
    min-width: auto;
    max-width: max-content;
    min-height: var(--height-medium);
    max-height: var(--height-medium);
}

/**
 * Avatars
 */
.avatar-group {
    display: flex;
    align-items: center;
}

.avatar-group .avatar:nth-child(2) { margin-inline-start: -12px; }

.avatar-group .avatar:nth-child(3) { margin-inline-start: -12px; }

.avatar-group .avatar:nth-child(4) { margin-inline-start: -12px; }

.avatar-group .avatar:nth-child(5) { margin-inline-start: -12px; }

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-2);
    background-color: var(--surface);
    border: 1px solid var(--outline);
    color: var(--on-background-variant);
    border-radius: var(--radius-full);
    overflow: hidden;
    position: relative;
    z-index: 10;
}

.avatar.extra-small {
    min-width: var(--width-extra-small);
    max-width: var(--width-extra-small);
    min-height: var(--height-extra-small);
    max-height: var(--height-extra-small);
}

.avatar.extra-small svg {
    min-width: calc(var(--width-extra-small) / 2);
    max-width: calc(var(--width-extra-small) / 2);
    min-height: calc(var(--height-extra-small) / 2);
    max-height: calc(var(--height-extra-small) / 2);
}

.avatar.medium {
    min-width: var(--width-medium);
    max-width: var(--width-medium);
    min-height: var(--height-medium);
    max-height: var(--height-medium);
}

.avatar .img-avatar {
    position: absolute;
    inset: 0;
    z-index: 10;
}

/**
 * Time Line
 */
.time-line {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-6);
}

/**
 * Ratings
 */
.ratings {
    display: flex;
    align-items: center:
    gap: var(--spacing-1);
    color: var(--warning);
}

.ratings svg {
    min-width: var(--spacing-4);
    max-width: var(--spacing-4);
    min-height: var(--spacing-4);
    max-height: var(--spacing-4);
}

/**
 * App bars
 */



/**
 * Badges
 */



/**
 * Buttons
 */
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-2);
    border: none !important;
    background-color: transparent !important;
    text-transform: capitalize;
    color: var(--on-background) !important;
    border-radius: var(--radius-small);
    transition-duration: var(--tr-duration-short);
    transition-property: background, color;
}

.btn.extra-small {
    padding-inline: var(--spacing-4);
    min-height: var(--height-extra-small);
    max-height: var(--height-extra-small);
    border-radius: var(--radius-full);
}

.btn.extra-small svg {
    min-width: calc(var(--width-extra-small) / 2);
    max-width: calc(var(--width-extra-small) / 2);
    min-height: calc(var(--height-extra-small) / 2);
    max-height: calc(var(--height-extra-small) / 2);
}

.btn.small {
    padding-inline: var(--spacing-4) !important;
    min-height: var(--height-small) !important;
    max-height: var(--height-small) !important;
}

.btn.small svg {
    min-width: calc(var(--width-small) / 2);
    max-width: calc(var(--width-small) / 2);
    min-height: calc(var(--height-small) / 2);
    max-height: calc(var(--height-small) / 2);
}

.btn.medium {
    padding-inline: var(--spacing-6);
    min-height: var(--height-medium);
    max-height: var(--height-medium);
}

.btn.large {
    padding-inline: var(--spacing-7);
    min-height: var(--height-large);
    max-height: var(--height-large);
}

.btn.outline {
    background: var(--linear-gradient);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent !important;
    border: 1px solid !important;
    border-top-color: var(--primary) !important;
    border-left-color: var(--primary) !important;
    border-right-color: var(--secondary) !important;
    border-bottom-color: var(--secondary) !important;
    --state-layer-bg: var(--on-primary);
}

.btn.tonal {
    background: var(--soft-primary) !important;
    color: var(--primary) !important;
    border: 1px solid !important;
    border-top-color: var(--primary) !important;
    border-left-color: var(--primary) !important;
    border-right-color: var(--secondary) !important;
    border-bottom-color: var(--secondary) !important;
    --state-layer-bg: var(--on-primary);
}

.btn.tonal.hover:hover {
    background: var(--linear-gradient) !important;
    color: var(--on-linear-gradient) !important;
}

.btn.filled {
    background: var(--linear-gradient) !important;
    color: var(--on-linear-gradient) !important;
    --state-layer-bg: var(--on-linear-gradient);
}

/**
 * Button groups
 */



/**
 * Extended FABs
 */



/**
 * FAB menu
 */



/**
 * FABs
 */



/**
 * Icon buttons
 */
.icon-btn {
    border-radius: var(--radius-medium);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-2);
    background-color: var(--surface-hight);
    color: var(--on-background-variant);
    border: 1.6px solid var(--outline-variant);
}

.icon-btn.small {
    min-width: var(--width-small);
    max-width: var(--width-small);
    min-height: var(--height-small);
    max-height: var(--height-small);
}

.icon-btn.small svg {
    min-width: calc(var(--width-small) / 2);
    max-width: calc(var(--width-small) / 2);
    min-height: calc(var(--height-small) / 2);
    max-height: calc(var(--height-small) / 2);
}

.icon-btn.medium {
    min-width: var(--width-medium);
    max-width: var(--width-medium);
    min-height: var(--height-medium);
    max-height: var(--height-medium);
}

.icon-btn.large {
    min-width: var(--width-large);
    max-width: var(--width-large);
    min-height: var(--height-large);
    max-height: var(--height-large);
}

.icon-btn.large svg,
.icon-btn.large img {
    min-width: calc(var(--width-large) / 2);
    max-width: calc(var(--width-large) / 2);
    min-height: calc(var(--height-large) / 2);
    max-height: calc(var(--height-large) / 2);
}

.icon-btn.extra-large {
    min-width: var(--width-extra-large);
    max-width: var(--width-extra-large);
    min-height: var(--height-extra-large);
    max-height: var(--height-extra-large);
}

.icon-btn.text {
    transition-duration: var(--tr-duration-short);
    transition-property: background, color;
}

.icon-btn.text:hover {
    color: var(--primary);
    border-top-color: var(--primary);
    border-left-color: var(--primary);
    border-right-color: var(--secondary);
    border-bottom-color: var(--secondary);
}

.icon-btn.tonal {
    background-color: var(--soft-secondary) !important;
    color: var(--secondary) !important;
    border: 1px solid var(--secondary) !important;
    --state-layer-bg: var(--secondary);
}

.icon-btn.filled {
    background: var(--linear-gradient) !important;
    color: var(--on-linear-gradient) !important;
    border: none !important;
    --state-layer-bg: var(--on-linear-gradient);
}

/**
 * Segmented buttons
 */



/**
 * Split button
 */



/**
 * Cards
 */
.card {
    padding: 0 !important;
    border-radius: var(--radius-large);
    background-color: transparent !important;
    color: var(--on-background) !important;
    border: none !important;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card.filled {
    background-color: var(--surface) !important;
    border: 1px solid var(--outline) !important;
    transition: all var(--tr-duration-short);
}

.card.filled.filled-hover:hover {
    border-top-color: var(--primary) !important;
    border-left-color: var(--primary) !important;
    border-right-color: var(--secondary) !important;
    border-bottom-color: var(--secondary) !important;
}

.card.blur {
    background-color: var(--soft-white-background) !important;
    border: 1px solid var(--soft-white-outline) !important;
}

.card .figure {
    background-color: var(--surface-variant);
    height: 227px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--on-background-variant);
    border-bottom: 1px solid var(--outline);
    overflow: hidden;
    position: relative;
}

.card .figure .img-card {
    position: absolute;
    inset: 0;
    z-index: 10;
}

.card .figure .btn {
    position: absolute;
    top: var(--spacing-3);
    left: var(--spacing-3);
    z-index: 11;
}

.grid-2-base .card .figure { height: 347px; }

.card .card-body {
    padding: var(--spacing-6) !important;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
}

.card .card-body .btn.tonal {
    background-color: var(--soft-secondary) !important;
    border-color: var(--secondary) !important;
    padding-inline: var(--spacing-2);
    min-height: 25px;
    max-height: 25px;
}

.card .card-body .figure {
    height: 214px;
    border: 1px solid var(--outline);
    border-radius: var(--radius-small);
}

/**
 * Carousel
 */



/**
 * Checkbox
 */



/**
 * Chips
 */



/**
 * Date pickers
 */



/**
 * Time pickers
 */



/**
 * Dialogs
 */



/**
 * Divider
 */



/**
 * Lists
 */



/**
 * Loading indicator
 */



/**
 * Progress indicators
 */



/**
 * Menus
 */



/**
 * Navigation bar
 */



/**
 * Navigation drawer
 */



/**
 * Navigation rail
 */



/**
 * Radio button
 */



/**
 * Search
 */



/**
 * Bottom sheets
 */



/**
 * Side sheets
 */
.offcanvas.offcanvas-start,
.offcanvas.offcanvas-end {
    backdrop-filter: blur(30px);
    background-color: var(--surface);
    color: inherit;
    max-width: 300px;
    display: grid;
    grid-template-rows: max-content 1fr max-content;
}

.offcanvas.offcanvas-start {
    border-inline-end: 1px solid var(--outline);
    border-radius: 0 var(--radius-extra-large) var(--radius-extra-large) 0;
}

.offcanvas.offcanvas-end {
    border-inline-start: 1px solid var(--outline);
    border-radius: var(--radius-extra-large) 0 0 var(--radius-extra-large);
}

.offcanvas.offcanvas-start .offcanvas-header,
.offcanvas.offcanvas-end .offcanvas-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-4);
    padding: var(--spacing-4) var(--spacing-4) 0;
}

.offcanvas.offcanvas-start .offcanvas-list,
.offcanvas.offcanvas-end .offcanvas-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-1);
    padding: var(--spacing-4) !important;
}

.offcanvas.offcanvas-start .offcanvas-item,
.offcanvas.offcanvas-end .offcanvas-item {
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
    color: var(--on-background-variant);
    padding: var(--spacing-3) var(--spacing-4);
    border-radius: var(--radius-small);
    transition: color var(--tr-duration-short);
    --state-layer-bg: var(--on-background);
}

.offcanvas.offcanvas-start .offcanvas-item:hover,
.offcanvas.offcanvas-end .offcanvas-item:hover { color: var(--on-background); }

.offcanvas.offcanvas-start .offcanvas-item p,
.offcanvas.offcanvas-end .offcanvas-item p { flex-grow: 1; }

.offcanvas.offcanvas-start .offcanvas-footer,
.offcanvas.offcanvas-end .offcanvas-footer {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
    padding: var(--spacing-4);
    border-top: 1px solid var(--outline);
}

/**
 * Sliders
 */



/**
 * Snackbar
 */



/**
 * Switch
 */



/**
 * Tabs
 */
.nav-tabs {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: var(--spacing-2);
    padding: var(--spacing-2) !important;
    border-radius: var(--radius-large);
    background-color: var(--soft-white-background);
    border: 1px solid var(--soft-white-outline);
    overflow-x: auto;
    width: 100%;
    max-width: max-content;
}

.nav-tabs::-webkit-scrollbar {
    width: var(--spacing-1);
    height: var(--spacing-1);
}

.nav-tabs .nav-link {
    padding-inline: var(--spacing-4);
    min-height: var(--height-small);
    max-height: var(--height-small);
    border-radius: var(--radius-small);
    border: none !important;
    background-color: transparent !important;
    color: var(--on-background-variant) !important;
    text-wrap: nowrap;
    text-transform: capitalize;
    transition-duration: var(--tr-duration-short);
    transition-property: color, background;
    --state-layer-bg: var(--on-background);
}

.nav-tabs .nav-link:hover { color: var(--on-background) !important; }

.nav-tabs .nav-link.active {
    background: var(--linear-gradient) !important;
    color: var(--on-linear-gradient) !important;
    --state-layer-bg: var(--on-linear-gradient);
}

/**
 * Text fields
 */



/**
 * Toolbars
 */



/**
 * Tooltips
 */
.tooltip {
    display: none;
    z-index: 1000;
}

.tooltip .tooltip-inner {
    background: var(--linear-gradient);
    color: var(--on-linear-gradient);
    border-radius: var(--radius-extra-small);
    font-size: var(--fs-body-small);
    font-weight: var(--fw-regular);
    line-height: var(--lh-body-small);
    padding-inline: var(--spacing-2);
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tooltip .tooltip-arrow { display: none; }

/**
 * Line Clamp
 */
.line-clamp {
    word-break: break-word;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 30px;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
}

.line-clamp.line-clamp-1 {
    -webkit-line-clamp: 1;
    -moz-line-clamp: 1;
}

.line-clamp.line-clamp-2 {
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
}

.line-clamp.line-clamp-3 {
    -webkit-line-clamp: 3;
    -moz-line-clamp: 3;
}

.line-clamp.line-clamp-4 {
    -webkit-line-clamp: 4;
    -moz-line-clamp: 4;
}

.line-clamp.line-clamp-5 {
    -webkit-line-clamp: 5;
    -moz-line-clamp: 5;
}

.line-clamp.line-clamp-6 {
    -webkit-line-clamp: 6;
    -moz-line-clamp: 6;
}

.line-clamp.line-clamp-7 {
    -webkit-line-clamp: 7;
    -moz-line-clamp: 7;
}

.line-clamp.line-clamp-8 {
    -webkit-line-clamp: 8;
    -moz-line-clamp: 8;
}

.line-clamp.line-clamp-9 {
    -webkit-line-clamp: 9;
    -moz-line-clamp: 9;
}

.line-clamp.line-clamp-10 {
    -webkit-line-clamp: 10; 
    wmoz-line-clamp: 10;
}

/* -------------------------------------------- *\
 * OTHERS
\* -------------------------------------------- */

/**
 * Header
 */
.header {
    background-color: var(--background-header);
    border-block-end: 1px solid var(--soft-white-outline);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 30;
    height: var(--header-height);
    display: flex;
    align-items: center;
}

.header.fixed-scrolling {
    position: fixed;
    animation: header_fixed_scrolling var(--tr-duration-medium) linear alternate;
}

@keyframes header_fixed_scrolling {
    0% { transform: translateY(-100%); }

    100% { transform: translateY(0%); }
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-4);
}

.header .container .nav {
    height: var(--height-medium);
    border-radius: var(--radius-full);
    background-color: var(--soft-white-background);
    border: 1px solid var(--soft-white-outline);
    display: flex;
    align-items: center;
    padding-inline: var(--spacing-6);
}

.header .container .nav .nav-list {
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
}

.header .container .nav .nav-list a { position: relative; }

.header .container .nav .nav-list a::before {
    content: "";
    background: var(--linear-gradient);
    border-radius: var(--radius-full);
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4px;
    z-index: 10;
    width: 100%;
    height: 1px;
    opacity: 0;
    transition: opacity var(--tr-duration-short);
}

.header .container .nav .nav-list a:hover::before { opacity: 1; }

/* -------------------------------------------- *\
 * MAIN
\* -------------------------------------------- */

/**
 * Hero
 */
.hero {
    min-height: calc(100dvh - var(--header-height));
    position: relative;
}

.hero .box-1 {
    top: 150px;
    left: 8%;
}

.hero .box-2 {
    top: 300px;
    right: -50px;
}

.hero .box-3 {
    top: 319.6px;
    left: 50%;
    transform: translateX(-50%);
}

.hero .grid-2-base {
    align-items: center;
    gap: var(--spacing-10);
}

.hero .hero-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
}

.hero .hero-content .ovarlay {
    display: flex;
    align-items: center;
    gap: var(--spacing-6);
    padding-block: var(--spacing-2);
    padding-inline-start: var(--spacing-2);
    padding-inline-end: var(--spacing-4);
    border-radius: var(--radius-full);
    background-color: var(--soft-white-background);
    max-width: max-content;
    backdrop-filter: blur(30px);
    border: 1px solid;
    border-top-color: var(--primary);
    border-left-color: var(--primary);
    border-right-color: var(--secondary);
    border-bottom-color: var(--secondary);
}

.hero .hero-content .ovarlay .text-title-large { font-weight: var(--fw-large); }

.hero .hero-content .wrapper-block {
    margin-block-start: var(--spacing-4);
    gap: var(--spacing-4);
}

/**
 * About Us
 */
.about-us .grid-2-base {
    align-items: center;
    gap: var(--spacing-10);
}

.about-us .grid-2-base .about-us-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-6);
}

.about-us .grid-2-base .about-us-content .wrapper-block {
    margin-block-start: var(--spacing-4) !important;
    gap: var(--spacing-4);
}

/**
 * Time Line Sec
 */
.time-line-sec {
    position: relative;
    padding-block-end: 100px;
}

.time-line-sec .title-sec { margin-block-end: 30px; }

.time-line-sec .box-1 {
    top: 150px;
    left: 8%;
}

.time-line-sec .box-2 {
    right: var(--spacing-4);
    bottom: 100px;
}

.time-line-sec .box-3 {
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.time-line-sec .avatar { border-radius: var(--radius-large); }

/**
 * Counter
 */
.counter { background-color: var(--surface-variant); }

.counter .grid-3-base {
    place-items: center;
    text-align: center;
}

/**
 * Testimonials
 */
.testimonials .swipper-item { scroll-snap-align: center; }

/* -------------------------------------------- *\
 * MEDIA QUERY
\* -------------------------------------------- */

/**
 * Fit Size: 568PX
 */
@media screen and (min-width: 568px) {
    /**
     * REUSED STYLE
     */
    .grid-3-base { grid-template-columns: repeat(2, 1fr); }

    .grid-4-base { grid-template-columns: repeat(2, 1fr); }

    .grid-6-base { grid-template-columns: repeat(3, 1fr); }

    .swipper-container .swipper-2-base { grid-auto-columns: calc((100% - var(--spacing-6)) / 2); }

    .swipper-container .swipper-3-base { grid-auto-columns: calc((100% - var(--spacing-6)) / 2); }
}

/**
 * Fit Size: 768PX
 */
@media screen and (min-width: 768px) {
    /**
     * COMPONENTS
     */

    /* Time Line */
    .time-line::before {
        content: "";
        position: absolute;
        top: var(--spacing-8);
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        background: var(--primary);
        width: 2px;
        height: calc(100% - var(--spacing-8));
        border-radius: var(--radius-full);
    }

    .time-line li {
        display: flex; 
        position: relative;
    }

    .time-line li::before {
        content: "";
        background-color: var(--primary);
        outline: 3px solid #FFFFFFB2;
        border-radius: var(--radius-full);
        position: absolute;
        top: var(--spacing-8);
        left: 50%;
        transform: translateX(-50%);
        width: var(--spacing-4);
        height: var(--spacing-4);
    }

    .time-line li .card { max-width: calc(50% - var(--spacing-15)); }
}

/**
 * Fit Size: 992PX
 */
@media screen and (min-width: 992px) {
    /**
     * REUSED STYLE
     */
    .mobile { display: none !important; }

    .desctop { display: flex !important; }

    .grid-2-base { grid-template-columns: repeat(2, 1fr); }

    .grid-3-base { grid-template-columns: repeat(3, 1fr); }

    .grid-4-base { grid-template-columns: repeat(3, 1fr); }

    .grid-6-base { grid-template-columns: repeat(4, 1fr); }

    .swipper-container .icon-btn[data-swipper-next] { right: -32.5px; }

    html[dir="rtl"] .swipper-container .icon-btn[data-swipper-next] {
        left: -32.5px;
        right: auto;
    }

    .swipper-container .icon-btn[data-swipper-prev] { left: -32.5px; }

    html[dir="rtl"] .swipper-container .icon-btn[data-swipper-prev] {
        right: -32.5px;
        left: auto;
    }

    .swipper-container .swipper-3-base { grid-auto-columns: calc((100% - var(--spacing-12)) / 3); }

    /**
     * COMPONENTS
     */

    /* Tooltips */
    .tooltip { display: flex; }
}

/**
 * Fit Size: 1200PX
 */
@media screen and (min-width: 1200px) {
    /**
     * REUSED STYLE
     */
    .grid-4-base { grid-template-columns: repeat(4, 1fr); }

    .grid-6-base { grid-template-columns: repeat(5, 1fr); }
}

/**
 * Fit Size: 1440PX
 */
@media screen and (min-width: 1440px) {
    /**
     * REUSED STYLE
     */
    .grid-6-base { grid-template-columns: repeat(6, 1fr); }
}